<a href="https://colab.research.google.com/github/mvoassis/hermex_log_tableau/blob/main/Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pedidos = pd.read_csv('base-de-dados-Hermex - Pedidos.csv')
pedidos.head()

,id_pedido,id_produto,Quantidade_ped,id_veiculo,status_do_pedido,Data_da_compra,Data_de_entrega,Data_previsão,UF,ESTADO
0,10,3,5,VEH01,Entregue,03/01/2021 22:06:00,16/01/2021 22:06:00,19/01/2021 22:06:00,BR-PA,NaN
1,8,49,6,VEH01,Entregue,03/01/2021 21:01:00,14/01/2021 21:01:00,23/01/2021 21:01:00,BR-PA,NaN
2,19,12,1,VEH01,Entregue,04/01/2021 10:41:00,21/01/2021 10:41:00,24/01/2021 10:41:00,BR-PI,NaN
3,25,36,6,VEH01,Entregue,04/01/2021 13:11:00,15/01/2021 13:11:00,24/01/2021 13:11:00,BR-MG,NaN
4,6,27,4,VEH01,Entregue,03/01/2021 09:44:00,19/01/2021 09:44:00,22/01/2021 09:44:00,BR-SP,NaN

In [ ]:
pedidos.UF = [uf[-2:] for uf in pedidos.UF]
pedidos.head()

,id_pedido,id_produto,Quantidade_ped,id_veiculo,status_do_pedido,Data_da_compra,Data_de_entrega,Data_previsão,UF,ESTADO
0,10,3,5,VEH01,Entregue,03/01/2021 22:06:00,16/01/2021 22:06:00,19/01/2021 22:06:00,PA,NaN
1,8,49,6,VEH01,Entregue,03/01/2021 21:01:00,14/01/2021 21:01:00,23/01/2021 21:01:00,PA,NaN
2,19,12,1,VEH01,Entregue,04/01/2021 10:41:00,21/01/2021 10:41:00,24/01/2021 10:41:00,PI,NaN
3,25,36,6,VEH01,Entregue,04/01/2021 13:11:00,15/01/2021 13:11:00,24/01/2021 13:11:00,MG,NaN
4,6,27,4,VEH01,Entregue,03/01/2021 09:44:00,19/01/2021 09:44:00,22/01/2021 09:44:00,SP,NaN

In [ ]:
states = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amapá',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Ceará',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'MA': 'Maranhão',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Pará',
    'PB': 'Paraíba',
    'PR': 'Paraná',
    'PE': 'Pernambuco',
    'PI': 'Piauí',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'São Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}

In [ ]:
pedidos.ESTADO = pedidos.UF.map(states)
pedidos.head()

,id_pedido,id_produto,Quantidade_ped,id_veiculo,status_do_pedido,Data_da_compra,Data_de_entrega,Data_previsão,UF,ESTADO
0,10,3,5,VEH01,Entregue,03/01/2021 22:06:00,16/01/2021 22:06:00,19/01/2021 22:06:00,PA,Pará
1,8,49,6,VEH01,Entregue,03/01/2021 21:01:00,14/01/2021 21:01:00,23/01/2021 21:01:00,PA,Pará
2,19,12,1,VEH01,Entregue,04/01/2021 10:41:00,21/01/2021 10:41:00,24/01/2021 10:41:00,PI,Piauí
3,25,36,6,VEH01,Entregue,04/01/2021 13:11:00,15/01/2021 13:11:00,24/01/2021 13:11:00,MG,Minas Gerais
4,6,27,4,VEH01,Entregue,03/01/2021 09:44:00,19/01/2021 09:44:00,22/01/2021 09:44:00,SP,São Paulo

In [ ]:
pedidos.to_csv('/content/base-de-dados-Hermex - Pedidos prep.csv', header=True, index=False)